*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.ScoreTable{
  border: 5px solid greenyellow;
  width: 50%;
margin:0 auto;
padding: 20px;
margin-bottom: 10px;
}
.country{
 color: skyblue;
 
}

.countryRow{
  width: 100%;
  padding-bottom: 30px;
}

.personName{
  font-size: 1.3rem;
  flex: 1;
  font-weight: bold;
}
.personScore{
font-size: 1.3rem;
font-weight: bold;
color: rgb(126, 29, 29);
  flex: 1;
}

.scoreAndName{
  display: flex;

}
